<section class="panel panel-info" ng-controller="caisseCtrl">
    <div class="panel-heading">
        <h1>Caisse enregistreuse</h1>
        <a class="btn btn-primary" ng-click="goToStock()">Acceder au stock</a>
        <a class="btn btn-primary" ng-click="boolAfficheAide = !boolAfficheAide">Aide a l'utilisateur</a>
    </div>
    <article class="aideUtilisateur" ng-show="boolAfficheAide">
        <p>1 - Pour spécifier une quantité pour un article, rentrez d'abord le nombre, appuyez sur le bouton correspondant et enfin scannez l'article.</p>
        <p>2 - Pour effectuer des remises, entrez d'abord le montant puis appuyez sur le bouton de la remise correpondant.</p>
        <p>3 - En ce qui concerne les moyens de paiements, entrez d'abord les montants puis enfin le type via le bouton. Un client peut payer avec plusieurs types de moyens de paiement. Un paiement par chèque ne peut être inférieur au total restant. De plus si vous entrez un montant en espèce supérieur au sous total, l'interface vous indiquera la somme à rendre.</p>
    </article>
    <div class="panel-body caisse">

        <article class="listeArticle col-lg-3 col-md-5 col-sm-5 col-xs-5">
            <section class="articlesResultList" >
                <div class="panel-body" id="marginTabarticle">
                        <table class="table ">
                            <tbody ng-repeat="art in panier track by $index" class="color-table">
                                <tr class="odd gradeX" ng-if="art.articles.intitule != null">
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">x{{art.articles.quantite}}</td>
                                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >{{art.articles.intitule}}</td>
                                    <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{art.articles.prix}} €</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <i class="fa fa-trash-o" ng-click="deleteArticle(art.articles.rang)"></i>
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.remiseP != null">
                                    <td colspan="4">
                                        Remise {{art.articles.remiseP | number:2}} % : - {{art.articles.remisePE}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.remiseE != null">
                                    <td colspan="4">
                                        Remise -{{art.articles.remiseE | number:2}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.bonReduc != null">
                                    <td colspan="4">
                                        Bon de réduction : -{{art.articles.bonReduc | number:2}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.espece != null">
                                    <td colspan="4">
                                        Paiement espèce : {{art.articles.espece | number:2}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.rendu != null">
                                    <td colspan="4">
                                        Rendu : {{art.articles.rendu | number:2}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.carte != null">
                                    <td colspan="4">
                                        Paiement carte : {{art.articles.carte | number:2}} €
                                    </td>
                                </tr>
                                <tr ng-if="art.articles.cheque != null">
                                    <td colspan="4">
                                        Paiement cheque : {{art.articles.cheque | number:2}} €
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                    <!-- /.table-responsive -->
                </div>

            </section>

            <section class="sousTotal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <span>Total : {{sousTotal | number:2}} €</span>
                </div>
            </section>

        </article>


        <article class="interface col-lg-5 col-md-7 col-sm-7 col-xs-7">
            <div class="row">
                <input type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inputInfo" ng-model="modInfo"/>
            </div>
            <div class="row">
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btnBonReduc  btn-interface" ng-click="bonReduc()" disabled>Bon de réduction</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator  btn-interface btnCarte" ng-click="carte()" disabled>Carte</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator  btn-interface ">Impression Ticket</button>
            </div>
            <div class="row">
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btnRemiseP btn-interface" ng-click="remisePourcent()" disabled>Remise %</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btn-interface btnEspece" ng-click="espece()" disabled>Espèce</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btn-interface">Facture</button>
            </div>
            <div class="row">
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btn-interface btnRemiseE" ng-click="remiseEuros()" disabled>Remise €</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 operator btn-interface btnCheque" ng-click="cheque()" disabled>Chèque</button>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4  btn-interface terminerVente" ng-click="terminerVente()" disabled>Terminer la vente</button>
            </div>
            <div class="row">
                <input type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 inputCaisse" ng-model="modSaisie"/>
                <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 terminerVente btn-interface btnEntrer" ng-click="afficheListe()">Entrer</button>
            </div>


            <div class="row">
                <article class="chiffres col-lg-8 col-md-8 col-sm-8 col-xs-8">


                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(7)" >7</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(8)" >8</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(9)">9</button>

                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(4)">4</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(5)">5</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(6)">6</button>

                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(1)">1</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(2)">2</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(3)">3</button>

                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier('.')">.</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface clavier" ng-click="entreeClavier(0)">0</button>
                    <button class="btn col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-interface efface" ng-click="efface()">Efface</button>
                </article>
                <article class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <button class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12 operator btn-interface " ng-click="quantite()">Quantité</button>
                        <button class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12 operator btn-interface ">Sauvegarder Ticket</button>
                        <button class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12 operator btn-interface ">Rappel Ticket</button>
                    </div>

                </article>

            </div>

        </article>

        <article class="articlesResult col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <input type="text" class="col-lg-9 col-lg-offset-1 col-md-9 col-sm-9 col-xs-9 inputInfo " ng-model="intituleSearch" placeholder="Intitulé"/>
                <i class="fa fa-2x col-lg-2 col-md-3 col-sm-3 col-xs-3 fa-search" ng-click="rechercherArticle()"></i>

            </div>

            <section >
                <div class="panel-body">
                        <table class="table table-striped table-bordered ">
                            <tbody>
                            <tr class="odd gradeX"
                                ng-repeat="article in ArticlesReturn['article']" >
                                <td>{{article[0].intitule}}</td>
                                <td>{{article[0].prix}}€</td>
                                <td>
                                    <i class="fa fa-plus-square-o" ng-click="ajoutPanier($event)">
                                        <p class="hidden">{{article[0].code_barre}}</p>
                                    </i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    <!-- /.table-responsive -->
                </div>

            </section>


        </article>

    </div>
</section>

