<section class="panel panel-info" ng-controller="majPdvCtrl">
    <div class="panel-heading">
        <h1>Gérer un point de vente</h1>
    </div>
    <div class="panel-body">
        <article class="container form">
            <h2>Point de vente: {{pdv.nom}}</h2>
            <ul>
                <li>Adresse: {{pdv.adresse}}</li>
                <li>Domaine d'activité: {{pdv.domaine_activite}}</li>
            </ul>
        </article>
        <article class="container form">
            <h2>Point de vente</h2>
            <form name="majForm" novalidate>
                <div class="top-row">
                    <div class="field-wrap">
                        <label class="active highlight">
                            Nom<span class="req">*</span>
                        </label>
                        <input type="text" autocomplete="off" ng-model="pdv.nom"/>
                    </div>
                    <div class="field-wrap">
                        <label class="active highlight">
                            Adresse<span class="req">*</span>
                        </label>
                        <input type="text" autocomplete="off" ng-model="pdv.adresse"/>
                    </div>
                </div>
                <div class="field-wrap">
                    <label class="active highlight">
                        Domaine d'activité<span class="req">*</span>
                    </label>
                    <input type="text" autocomplete="off" ng-model="pdv.domaine_activite"/>
                </div>
                <button ng-click="maj()" type="submit" class="btn btn-primary btn-lg">Valider</button>
                <a href="#/pointsVentes" class="btn btn-danger btn-lg">Annuler</a>
            </form>
        </article>
    </div>
</section>

