<div ng-if="maj.message" class="message success">{{maj.message}}</div>
<section class="panel panel-info" ng-controller="pdvIndexCtrl">
    <div class="panel-heading">
        <h1>Liste de mes points de ventes</h1>
    </div>
    <div class="panel-body row" ng-repeat="resp in response.pointsVentes">
            <article class="pdv col-sm-offset-1 col-sm-10 ">
                <br/>
                <div class="row">
                    <h2 class="col-xs-11 col-sm-11">Point de vente : {{ resp.nom }}</h2>
                    <img class="col-xs-1 col-sm-1" src="webroot/img/app/shopSmall2.png" alt="logo shop"/>
                    <p class="col-xs-offset-1 col-sm-offset-1 col-xs-11 col-sm-11"><strong>Domaine d'activité : </strong>{{ resp.domaine_activite }}</p>
                    <adress class="col-xs-offset-1 col-sm-offset-1 col-xs-11 col-sm-11"><strong>Adresse : </strong>{{ resp.adresse }}</adress>
                </div>
                <br/>
                <div class="row">
                    <a class="btn btn-success btn-lg col-sm-3 col-xs-offset-1 col-sm-offset-1" href="#/gerer/{{resp.id}}">Gérer</a>
                    <div class="col-xs-3 col-sm-3 col-xs-offset-1 col-sm-offset-1" ng-click="demarrerCaisse($event)">
                        <a class="btn btn-info btn-lg">Démarrer</a>
                        <p class="hidden">{{resp.id}}</p>
                    </div>
                    <a class="btn btn-warning btn-lg col-xs-3 col-sm-3" href="statistiques/#/statistiques/{{resp.id}}">Statistiques</a>
                </div>
                <br/>
            </article>

    </div>
    <div class="panel-body row">
        <article ng-if="length == 0" class="pdv col-sm-offset-1 col-sm-10 ">
            <div class="row">
                <h2 class="col-xs-11 col-sm-11">Vous n'avez actuellement aucun point de vente. Vous êtes vivement invité à en créer un.</h2>
            </div>
        </article>
    </div>
</section>
