<div ng-controller="TicketsCtrl" ng-if="nbVente == 0" class="message error">Aucune vente pour cette période</div>
<section class="panel panel-info" >
    <div class="panel-heading">
        <h1>Montant total des ventes depuis le début de votre activité</h1>
        <ul class="nav nav-pills">
            <li ng-class="{active:tab === 1}">
                <a href ng-click="tab = 1">graphique</a>
            </li>
            <li ng-class="{active:tab === 2}">
                <a href ng-click="tab = 2">tableau</a>
            </li>
        </ul>
    </div>

    <div class="row picker">

        <div class="col-lg-3 col-lg-offset-1">

            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-lg-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt2" is-open="opened2" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <button class="col-lg-2 col-lg-2 btn btn-info" ng-click="chercherPeriode()">Affiner la période</button>

    </div>
    <div class="row">
        <label class="col-lg-3 col-lg-offset-1">Nombre de vente(s) sur cette période : {{nbVente}}</label>
        <label class="col-lg-3">Total des ventes sur cette période : {{total |number:2}} €</label>
    </div>
    <article class="panel-body" ng-show="tab === 1">
        <div
            line-chart
            line-data= "lineData"
            line-xkey='y'
            line-ykeys='["total"]'
            line-labels='["Montant en €"]'
            line-colors='["#31C0BE"]'>
        </div>
    </article>
    <table class="table" ng-show="tab === 2">
        <caption>Détails des ventes depuis le début de votre activité</caption>
        <thead>
        <tr>
            <th>Date</th>
            <th>Total d'une vente</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="val in info">
            <td>{{val.date | date : 'dd/MM/yyyy'}}</td>
            <td>{{val.tot}}</td>
        </tr>
        </tbody>
    </table>
</section>