<section class="panel panel-info" ng-controller="stockArticles">
    <div class="panel-heading">
        <h1>Gérer mon stock</h1>
        <a class="btn btn-primary" ng-click="goToCaisse()">Acceder a la caisse</a>
        <a class="btn btn-primary" ng-click="boolAfficheAide = !boolAfficheAide">Aide a l'utilisateur</a>
    </div>
    <!--Espace d'aide a l'utilisateur-->
    <article class="aideUtilisateur" ng-show="boolAfficheAide">
        <p>L'icone <i class="fa fa-plus"></i> sert a mofidier la quantité de l'article.</p>
        <p>L'icone <i class="fa fa-pencil"></i> sert a modifier les informations de l'article.</p>
        <p>L'icone <i class="fa fa-trash"></i> sert a supprimer l'article.</p>
    </article>
    <!--Tableau des articles du stock-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Rechercher <input type="text" ng-model="searchIntitule" placeholder="Intitule, Categorie, code barre, etc..."/>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="scrollTable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ng-click="predicate = 'intitule'; reverse=!reverse">Intitulé de l'article</th>
                                <th ng-click="predicate = 'categorie'; reverse=!reverse">Categorie</th>
                                <th ng-click="predicate = 'codeBarre'; reverse=!reverse">Code barre</th>
                                <th ng-click="predicate = 'prix'; reverse=!reverse">Prix</th>
                                <th ng-click="predicate = 'quantite'; reverse=!reverse">Quantité</th>
                                <th>Opérations</th>
                            </tr>
                            </thead>
                                <tbody>
                                <tr class="odd gradeX"
                                    ng-repeat="article in articles | filter:searchIntitule | orderBy:predicate:reverse">
                                    <td>{{article[0].intitule}}</td>
                                    <td>{{article[0].categorie}}</td>
                                    <td>{{article[0].code_barre}}</td>
                                    <td>{{article[0].prix}}</td>
                                    <td class="center">{{article.quantite}}</td>
                                    <td>
                                        <i class="fa fa-plus"  ng-click="modifQte($event)">
                                            <p class="hidden">{{article[0].id}}</p>
                                        </i>
                                        <i class="fa fa-pencil" ng-click="modifArticle($event)">
                                            <p class="hidden">{{article[0].id}}</p>
                                        </i>
                                        <i class="fa fa-trash" ng-click="supprimeArticle($event)">
                                            <p class="hidden">{{article[0].id}}</p>
                                        </i>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<!--<p class="messInfo" ng-show="visibiliteMessInfo" ng-model="messInfo">{{messInfo}}</p>-->
<div class="message messInfo" ng-show="visibiliteMessInfo" ng-model="messInfo">{{messInfo}}</div>
    <!--Formulaire d'ajout d'article-->
    <div class="panel-body">
        <article class="container-fluid form formStock">
            <h2 ng-model="titreForm">{{titreForm}}</h2>
            <div class="row">
            <div class="field-wrap col-lg-6 col-sm-6">
                <label class="active highlight" for="nom">Intitulé</label>
                <input type="text" id="nom" ng-model="intitule">
            </div>

            <div class="field-wrap col-lg-6 col-sm-6">
                <label class="active highlight" for="prix">Prix</label>
                <input type="text" id="prix" ng-model="prix">
            </div>

            <div class="field-wrap col-lg-6 col-sm-6">
                <label class="active highlight" for="cb">Code barre</label>
                <input type="text" id="cb" ng-model="code_barre">
            </div>

            <div class="field-wrap col-lg-6 col-sm-6" ng-show="visibiliteInputQuantite">
                <label class="active highlight" for="quantite">Quantite</label>
                <input id="inputQuantite" type="text" id="quantite" ng-model="quantite">
            </div>

            <div class="field-wrap col-lg-6 col-sm-6">
                <label class="active highlight" for="ref">Reference</label>
                <input type="text" id="ref" ng-model="reference">
            </div>

            <div class="field-wrap col-lg-6 col-sm-6">
                <label class="active highlight" for="cat">Categorie</label>
                <input type="text" id="cat" ng-model="categorie">
            </div>

            <div class="radio col-lg-6 col-sm-6">
                <span class="tva">TVA :</span>
                <input id="btnRadio1" type="radio" ng-model="tva" value="5.5%"> 5.5% <br/>
                <input id="btnRadio2" type="radio" ng-model="tva" value="20%"> 20%
            </div>

            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <button type="submit" name="valider" class="btn btn-danger btn-lg col-lg-6 col-xs-12" value="valider"
                            ng-click="annulerReset()">Annuler/Reset
                    </button>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <button type="submit" name="valider" class="btn btn-primary btn-lg col-lg-6 col-xs-12" value="valider"
                            ng-click="ajoutArticle()" ng-show="visilibiteBtnValider">Valider
                    </button>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <button type="submit" name="valider" class="btn btn-primary btn-lg col-lg-6 col-xs-12" value="valider"
                            ng-click="validModifArticle()" ng-show="visibiliteBtnModifier">Modifier
                    </button>
                </div>
            </div>
            </div>
        </article>
    </div>
</section>
