<?php
/**
 * Liste des points de ventes
 */

//config du layout
$this->layout = 'appli_layout';
$this->assign('title', 'Points de ventes' );

?>

<section ng-app="pdvApp">
        <article ng-view></article>
</section>


