/*general*/
html {
    font-size: 100%;
}
ul {
    font-size: 1rem;
}
h1 {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
h2 {
    color: #9d9d9d;
    margin-top: 5px;
    margin-bottom: 20px;
}
.pdv {
    background: rgba(16, 16, 16, 0.6);
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.listeArticle {


    display: inline-block;
    font-weight: bold;

}

.articlesResultList {
    height: 550px;
    overflow: auto;
}
body {
    color: black;
    font-size: 100%;
}
.caisse {
    background-color: #9BD1E4;
}
.sousTotal {


    height: 50px;
    display: inline-block;
}
.interface {

    margin-bottom: 50px;

    height: 600px;
    display: inline-block;
    box-sizing: border-box;
    color : black;
}

.taille-min {
    min-height: 50px;
    max-height: 100px;
}

.search {
    height: 60px;
}




.articlesResult {
    height: 300px;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: bold;

}


.chiffres {
    display: inline-block;
}
.btn-interface {
    border: solid #9BD1E4;;
    height: 70px;
    background-color: #fff;
    color : black;
    font-weight: bold;
    font-size: 15px;
}
.btn-interface:hover {
    background: #9c89f6;
    color : white;
}
.btn-interface:active{
    top:3px;
}
.btn-interface:focus {
    outline:0;
}
.terminerVente {
    background: #f1ff92;
}
.color-table {
    background: white;
}
.terminerVente:hover {
    background: #abb850;
}
.efface {
    background: #ff9fa8;
}
.efface:hover {
    background : #f68991;
}
.operator {
    background: #fff0f5;
}
.inputInfo, .inputCaisse {
    height : 35px;
    background: #7ba7bb;
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0,0,0,0.2);
    color : white;
    font-weight: bold;
}
.input {
    margin-top: 15px;
}

.inputInfo::-webkit-input-placeholder {
    color : white;
}
.inputInfo:-moz-placeholder {
    color : white;
}

/*Formulaire de login/inscription*/
#signup input, #login input, #edit input {
    background-color: #222;
}
#inscription, #connexion, #edition {
    padding-top: 40px;
}
#signup h1, #login h1, #edit h1 {
    color: #9d9d9d;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}
.form {
    background: rgba(16, 16, 16, 0.6);
    padding: 30px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.form button:hover {
    background-color: #204d74;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.picker {
    margin-top: 15px;
    margin-bottom: 50px;
}

#marginTabarticle {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}
.tab-content > div:last-child {
    display: none;
}
label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: #9d9d9d;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 18px;
}
label.active {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}
label.highlight {
    color: #ffffff;
}
label[for="5.5"] {
    position: inherit;
}
input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: black;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 40px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}
.button-block {
    display: block;
    width: 100%;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
.articleStock{
    height: 250px;
    overflow: auto;
}
#scrollTable{
    height: auto;
    max-height : 400px;
    overflow: auto;
}
i{
    cursor: pointer;
}
div.messInfo{
    margin-top: 0px !important;
}
.formStock{
    margin-top: 0;
    max-width: none;
    margin-left: 10%;
    margin-right: 10%;
}
.formStock input[type="radio"]{
    margin-left: 10%;
    width: auto;
    height: auto  ;
    color: white;
}
span.tva{
    color: white;
    display: block;
    font-family: "Titillium Web",sans-serif;
}

/*768 correspond a sm dans bootstrap*/
@media screen and (max-width: 768px) {
    .formStock{
        max-width: none;
        margin-left: 0%;
        margin-right: 0%;
    }
    body{
        margin-top: 50px !important;
    }
}
.aideUtilisateur{
    background-color: #afd9e7;
}

.aideUtilisateur p:last-child{
    margin-bottom: 0;
}
